:root {
  background-color: rgb(5, 0, 30); /* Deep Charcoal Gray */
  --color-text: rgb(230, 230, 230); /* Off-White for primary text */
  --color-secondary-text: rgb(150, 150, 150); /* Light Gray for secondary text */
}

.Navbar {
  position: fixed;
  top: 10.5%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.Navbar-container {
  display: flex;
  width: 80%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.Navbar-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.Background {
  position: fixed;
  background: radial-gradient(
    71.43% 62.3% at 46.43% 36.43%,
    rgba(5, 0, 30, 0) 15%, /* Deep Charcoal Gray - transparent */
    rgba(200, 50, 50, 0.5) 56.35%, /* Muted Crimson Red */
    rgb(250, 140, 80) 100% /* Warm Sunset Orange */
  );
  box-shadow: 0px 12.93px 28.74px 0px #ffd28db2 inset;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  top: -60vw;
  left: -14.27vw;
  transform: rotate(15.25deg);
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

text {
  color: var(--color-text);
}

.Banner {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.Logo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.Logo--react {
  width: 100px;
  height: 100px;
  animation: Logo--spin infinite 20s linear;
}

.Logo--lynx {
  width: 100px;
  height: 100px;
  animation: Logo--shake infinite 0.5s ease;
}

@keyframes Logo--spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Logo--shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Arrow {
  width: 24px;
  height: 24px;
}

.Title {
  font-size: 36px;
  font-weight: 700;
}

.Subtitle {
  font-style: italic;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.Description {
  font-size: 20px;
  color: var(--color-text); /* Primary Text Color */
  margin: 15rpx;
}

.Hint {
  font-size: 12px;
  margin: 5px;
  color: var(--color-secondary-text); /* Secondary Text Color - Light Gray */
}
